.chat-page-body {
  height: 84vh;
  width: 100vw;
  padding: 1rem;
}

.chat-page-mychat {
  background-color: rgb(252, 252, 252);
  width: 30%;
  height: 100%;
  display: block;
  overflow-y: auto;
}

.chat-page-message {
  width: 69%;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;
}

@media screen and (max-width: 1000px) {
  .chat-page-mychat {
    width: 100%;
  }
  .chat-page-message {
    width: 100%;
    display: none;
  }

  .hide-chat-page-mychat {
    display: none;
  }

  .show-chat-page-message {
    display: block;
  }
}
